.DS_Store
node_modules/
.node_modules/
built/*
cdk.out/
cdk/**/*.d.ts
cdk/**/*.js
*.swp
build.json
.settings
**/.vs
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
.idea
yarn.lock
yarn-error.log
.parallelperf.*
package-lock.json
pnpm-lock.yaml
.eslintcache
